<div class="row justify-content-between mb-4">
  <h1>List of Cocktails</h1>
    <%= link_to 'New Cocktail', new_cocktail_path, class:"btn btn-success" %>
</div>

<div class="row">
  <% @cocktails.each do |cocktail|  %>
    <div class="col-4">
      <div class="card text-center mb-4">
        <%= cl_image_tag cocktail.photo, height: 200, width: 300, class: "card-img-top" %>
        <p class="text-size:14">  <%= link_to cocktail.name , cocktail %> </p>
      </div>
    </div>
  <% end %>
</div>
